@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../fonts/myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF") format('opentype');
}

@font-face {
    font-family: "Lato-Light";
    src: url("../fonts/Lato/Lato-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format('truetype');
}