.container {

    width: 1600px;
    margin: 0 auto;
    text-align: center;

}

.first-section {

    width: 100%;
    Height: 900px;
    background-image: url("../img/Layer 21@1X.png");
    position: relative;

}

.first-section-header {

    position: absolute;
    top: 531px;
    left: 215px;

}

.first-section-header h2 {

    font-family: ﻿"Montserrat-Bold", ﻿"OpenSans-Light", ﻿"MyriadPro-Regular", "sans-serif";
    font-size: 48pt;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    text-transform: uppercase;
}

.first-section-header p {

    font-family: ﻿"Lato-Regular", ﻿"OpenSans-Light", ﻿"MyriadPro-Regular", "sans-serif";
    font-size: 18pt;
    color: rgba(255, 255, 255, 1);

}


.first-section-motto {

    background: rgba(0,0,0,.4);
    position: absolute;
    top: 626px;
    left: 215px;
    width: 1000px;
    height: 100px;
    border: 1px solid white;
    margin-top: 60px;

}

.motto-1 {
    position: absolute;
    top: 11px;
    left: 30px;
    width: auto;
    text-transform: uppercase;
    margin: 0;
    font-family: ﻿"Montserrat-Bold", ﻿"MyriadPro-Regular", "sans-serif";
    font-size: 54pt;
    color: rgba(244, 142, 11, 255);

}

.motto-2 {
    position: absolute;
    top: 11px;
    left: 177px;
    width: auto;
    text-transform: uppercase;
    margin: 0;
    font-family: ﻿"Montserrat-Bold", ﻿"OpenSans-Light", ﻿"MyriadPro-Regular", "sans-serif";
    font-size: 54pt;
    color: rgba(255, 255, 255, 1);

}

.second-section {
    width: 1600px;
    Height: 700px;
    background-image: url("../img/Layer 20@1X.png");
}


.second-section-header h2,
.third-section-header h2,
.six-section-header h2 {
    margin: 0 auto 30px;
    padding-top: 50px;
    text-transform: uppercase;
    font-family: "Montserrat-Bold", "OpenSans-Light", "MyriadPro-Regular", "sans-serif";
    font-size: 22pt;
    color: rgba(51, 51, 51, 1);

}
.second-section-header p,
.third-section-header p,
.six-section-header p {
    font-family: "Lato-Regular", "OpenSans-Light", "MyriadPro-Regular", "sans-serif";
    font-size: 17pt;
    color: rgba(77, 73, 67, 1);
    margin-bottom: 50px;
}

.second-section-header img,
.third-section-header img {
    display: block;
    margin: 50px auto;

}

.second-section-nav {
    margin: 100px auto;
}

.second-section-logo {
    display: inline-block;
    margin-right: 300px;
}

.second-section-menu {
    display: inline-block;

}

.second-section-menu li {
    display: inline-block;
    padding: 15px 10px;
    text-transform: uppercase;
    font-size: 18pt;
    font-family: "Lato-Regular", "MyriadPro-Regular", "sans-serif";

}

.second-section-menu a {
    text-decoration: none;
    color: rgba(61, 61, 61, 1);
}

.second-section-menu a:hover {
    color: rgba(241, 177, 40, 1);

}

.dropdown:after {
    content: '\25bc';
    font-size: 13px;
    vertical-align: 3px;
    margin-left: 2px;
}

.third-section {
    width: 1600px;
    Height: 600px;
    background-image: url("../img/Layer 20@1X.png");
}

.third-section-main {
    width: 1169px;
    margin: 0 auto;
}

.third-section-gallery {
    width: 50%;
    height: 320px;
    display: inline-block;
}

.third-section-card {
    width: 270px;
    height: 148px;
    position: relative;
    float: left;
    margin: 5px 10px;
}

.third-section-card p {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 10px;
    background-color: #333333;
    font-family: "Lato-Regular", "MyriadPro-Regular", "sans-serif";
    font-size: 14px;
    color:#FFFFFF;
}

.third-section-article {
    width: 49%;
    height: 320px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.third-section-article h3 {
    font-family: "Montserrat-Bold", "OpenSans-Light", "MyriadPro-Regular", "sans-serif";
    font-size: 18px;
    color: #F1AD1D;
    text-transform: uppercase;
    text-align: left;
    margin: 4px 15px 15px 15px;
}

.third-section-article h3>span {
    color: #333333;
}

.third-section-article p {
    font-family: "Lato-Light", "OpenSans-Light", "MyriadPro-Regular", "sans-serif";
    font-size: 14px;
    color: #505050;
    text-align: justify;
    margin: 15px;
}

.third-section-button {
    position: absolute;
    left: 20px;
    bottom: 11px;
    padding: 15px 25px;
    background-color: #F1AD1D;
    font-family: "Lato-Light", "OpenSans-Light", "MyriadPro-Regular", "sans-serif";
    font-size: 14px;
    color: #FEFAF0;
}

.forth-section {
    width: 1600px;
    height: 380px;
    background-image: url("../img/Layer 22@1X.png");
    background-position: 0 -260px;
}

.forth-section h2 {
    padding-top:170px;
    text-transform: uppercase;
    font-family: "Montserrat-Bold", "OpenSans-Light", "MyriadPro-Regular", "sans-serif";
    font-size: 22px;
    color: #FFFFFF;
}

.forth-section h2>span {
    color: #F1AD1D;
}

.forth-section img {
    margin: 50px auto;
}

.fifth-section {
    width: 1600px;
    Height: 700px;
    background-image: url("../img/Layer 20@1X.png");
}

.fifth-section-header h2 {
    margin: 0 auto 30px;
    padding-top: 50px;
    text-transform: uppercase;
    font-family: "Montserrat-Bold", "OpenSans-Light", "MyriadPro-Regular", "sans-serif";
    font-size: 22pt;
    color: #333333;
}

.fifth-section-header p {
    font-family: "Lato-Regular", "OpenSans-Light", "MyriadPro-Regular", "sans-serif";
    font-size: 17pt;
    color: #4D4943;
    margin-bottom: 50px;

}

.fifth-section-gallery {
    width: 1169px;
    height: 400px;
    margin: 60px auto;
}

.fifth-section-card {
    width: 193px;
    height: 178px;
    overflow: hidden;
    position: relative;
    float: left;
    padding: 1px;
}

.fifth-section-card p {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 10px 50px 8px 10px;
    background-color: #333333;
    font-family: "Lato-Regular", "MyriadPro-Regular", "sans-serif";
    font-size: 14px;
    color:#FFFFFF;
}

.fifth-section-card p>span {color:#E5A51E;}

.six-section {
    width: 1600px;
    Height: 700px;
    background-image: url("../img/Layer 20@1X.png");
}

.six-section-nav {
    width: 900px;
    margin: 50px auto 30px;
    display: flex;
    justify-content: space-between;
}

.six-section-nav div {
    border-radius: 2px;
    background-color: white;
    border: 1px solid grey;
    padding: 10px 40px;
    font-family: "Lato-Regular", "OpenSans-Light", "MyriadPro-Regular", "sans-serif";
    font-size: 14px;
    color: rgba(17, 17, 17, 1);
    cursor: pointer;
    transition: 0.5s color cubic-bezier(.17,.67,.46,1.46);
}

.six-section-nav div:active, .six-section-nav div:hover {
    background-color: #333333;
    color: #d89d20;
    font-weight: bold;
}

.six-section-gallery {
    margin: 0 auto;
    width: 1250px;
    height: 900px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

}

.six-section-card {
    width: 281px;
    height: 271px;
    border: 1px solid grey;
}